---
title: Achievements
layout: default
style: alumni
permalink: /alumni/
---
<a name="top"></a>

<div class="profile">
    <h1 class="glow-text">Our Achievements</h1>
    <div class="achievements-wrapper">
        {% for achievement in site.data.achievements %}
        <div class="achievement-card">
            <div class="achievement-details">
                <h2>{{ achievement.title }}</h2>
                <p class="achievement-description">{{ achievement.description }}</p>
                {% if achievement.year %}
                <p class="achievement-year"><b>Year:</b> {{ achievement.year }}</p>
                {% endif %}
                {% if achievement.link %}
                <p><a href="{{ achievement.link }}" target="_blank">Read more</a></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
