---
title: Team
layout: default
style: team
permalink: /team/
---
<a name="top"></a>
<div class="profile">
  <h1 class="section-title-01">Heads</h1>
  <div class="card-wrapper">
    {% for seci in site.data.seci_25_26 %}
    <div class="card">
      <div class="card-image">
        <img src="{{ site.baseurl }}/assets/images/seci_25_26/{{ seci.image }}" alt="profile-card">
        <ul class="social-icons">
          {% if seci.instagram %}
          <li><a target="_blank" href="{{ seci.instagram }}" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
          {% endif %}
          {% if seci.linkedin %}
          <li><a target="_blank" href="{{ seci.linkedin }}" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
          {% endif %}
          {% if seci.github %}
          <li><a target="_blank" href="{{ seci.github }}" aria-label="GitHub"><i class="fab fa-github"></i></a></li>
          {% endif %}
        </ul>
        <div class="details">
          <h2>{{ seci.name }}</h2>
          <p class="job-contact">{{ seci.mob }}</p>
          <p class="job-contact">{{ seci.email }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="profile">
  <h1 class="section-title-01">Coordinators</h1>
  <div class="card-wrapper">
    {% for cordi in site.data.cordis_25_26 %}
    <div class="card">
      <div class="card-image">
        <img src="{{ site.baseurl }}/assets/images/cordi_25_26/{{ cordi.image }}" alt="profile-card">
        <ul class="social-icons">
          {% if cordi.instagram %}
          <li><a target="_blank" href="{{ cordi.instagram }}" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
          {% endif %}
          {% if cordi.linkedin %}
          <li><a target="_blank" href="{{ cordi.linkedin }}" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
          {% endif %}
          {% if cordi.github %}
          <li><a target="_blank" href="{{ cordi.github }}" aria-label="GitHub"><i class="fab fa-github"></i></a></li>
          {% endif %}
        </ul>
        <div class="details">
          <h2>{{ cordi.name }}</h2>
          <p class="job-contact">{{ cordi.mob }}</p>
          <p class="job-contact">{{ cordi.email }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
