<div class="header">
  <div class="layout-header">
    <a href="{{ site.url }}">
      <div class="logo-bg">
        <img class="logo-image" src="{{ '/assets/images/logo.png' | relative_url }}" alt="iBot Club IIT Madras Logo">
      </div>
    </a>
    <nav class="navigation-container">
      <nav class="navigation">
        <a href="{{ site.url }}/projects/">PROJECTS</a>
        <a href="{{ site.url }}/team/">TEAM</a>
        <a href="{{ site.url }}/alumni/">ACHIEVEMENTS</a>
        <a href="{{ site.url }}/blog/">BLOGS</a>
        <a href="{{ site.url }}/events/">EVENTS</a>
      </nav>
    </nav>
