<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
  <!-- Any global stylesheets, fonts, etc. -->
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|DM+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/' | append: page.style | append: '.css' | relative_url }}">
</head>

<body>
  <div class="page-wrapper">
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>

</html>